<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<a href="/">トップ</a>

<h1>ログイン</h1>

<form action="/login" method="post">

<font color="red"><span th:text="${message}"></span></font>

<table border="1">
	<tr>
	<th>ユーザID</th>
	<td><input type=text name="userID"></td>
	</tr>
	<tr>
	<th>パスワード</th>
	<td><input type="password" name="PW"></td>
	</tr>

</table><br>

<input type="submit" value="ログイン"><br><br>
</form>

<a href="/signup">新規会員登録</a>はこちら

</body>
</html>