@charset "UTF-8";
/*本文の設定*/
body {
	background-color: ivory;
	color: navy;
	font-size: 20px;
	text-align: center;
}
/*ヘッダーの設定*/
header {
	padding: 1px 10px;
	background-color: orange;
	color: navy;
	text-align: left;
	position: fixed;
	top: 0;
	width: 100%;
}
/*ヘッダーメニューの設定*/
.nav {
	color: navy;
	padding: 1px 20px;
	text-align: right;
	font-size: 15px;
}

/*テーブルの設定*/
table {
	background-color: white;
	color: navy;
	border: 2px solid gray;
	border-collapse: collapse;
	text-align: center;
	margin: 0.5em auto;
}

	table th {
		background-color: orange;
	}

/*名前、アカウント名、メールアドレスフォームの設定*/
input[type="text"] {
	display: block;
	width: 250px;
	padding: 0.5em;
	border: 2px solid gray;
	box-sizing: border-box;
	background-color: white;
	margin: 0.5em auto;
}

	input[type="text"]:focus {
		outline: none;
		background-color: lightgoldenrodyellow;
		box-shadow: 0 0 9px gold;
	}

/*パスワード入力フォームの設定*/
input[type="password"] {
	display: block;
	width: 250px;
	padding: 0.5em;
	border: 2px solid gray;
	box-sizing: border-box;
	background-color: white;
	margin: 0.5em auto;
}

	input[type="password"]:focus {
		outline: none;
		background-color: lightgoldenrodyellow;
		box-shadow: 0 0 9px gold;
	}

/*レビュー投稿フォームの設定*/
textarea {
	display: block;
	width: 500px;
	height: 100px;
	padding: 0.5em;
	border: 2px solid gray;
	box-sizing: border-box;
	background-color: white;
	margin: 0.5em auto;
}

	textarea:focus {
		outline: none;
		background-color: lightgoldenrodyellow;
		box-shadow: 0 0 9px gold;
	}

/*セレクトボックスの設定*/
select {
	width: 150px;
	height: 30px;
	border: 2px solid gray;
	box-sizing: border-box;
	background-color: white;
}

	select:focus {
		outline: none;
		background-color: lightgoldenrodyellow;
		box-shadow: 0 0 9px gold;
	}

/*ボタンの設定*/
.btn {
	display: block;
	max-width: 200px;
	background-color: white;
	border: 2px solid gray;
	font-size: 16px;
	color: orange;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em;
	border-radius: 4px;
	border-bottom: 4px solid gray;
	margin: 0.5em auto;
}

	.btn:hover {
		border: 2px solid darkorange;
		background-color: orange;
		color: white;
		border-radius: 4px;
		border-bottom: 4px solid darkorange;
	}

/*リンクの表示設定*/
a {
	color: gray;
}

	a:hover {
		color: orange;
	}

/*メニューの設定*/
.menu {
	color: navy;
}

	.menu:hover {
		color: gray;
	}

/*ネタバレ防止機能の設定*/
.hidden_box label {
	padding: 8px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

	.hidden_box label:hover {
		color: orange;
	}

	.hidden_box input {
		display: none;
	}

	.hidden_box .hidden_show {
		height: 0;
		padding: 0;
		overflow: hidden;
		opacity: 0;
	}

	.hidden_box input:checked ~ .hidden_show {
		padding: 10px 0;
		height: auto;
		opacity: 1;
	}