@charset "UTF-8";
/*本文の設定*/
body {
	background-color: ivory;
	color: navy;
	font-size: 20px;
	text-align: center;
	margin:0;
	word-break: keep-all;

}
/*ヘッダーの設定*/
header {
	background-color: orange;
	text-align: right;
	position: fixed;
	top: 0;
	width: 100%;
	float:right;
}
.logo{
	float:left;
	height:75px;
}

/*ヘッダーメニューの設定*/
.nav {
	text-align: right;
	font-size: 15px;
	padding-top:40px;
	padding-right:10px;
}

/*メニューの設定*/
.menu {
	color: navy;
}

.menu:hover {
	color: gray;
}

/*プロフィール表示の設定*/

#wrap {
	display:inline-block;
	margin:10px auto;
}

img.rank1{
	background-color:white;
	border: 2px solid gray;
	border-radius: 50%;
	width: 130px;
	left: -50%;
	float: left;
	margin:auto 10px 5px ;
}

img.rank2{
	background-color:white;
	border: 2px solid gray;
	border-radius: 50%;
	width: 130px;
	left: -50%;
	float: left;
	margin:auto 10px 5px ;
	box-shadow:0px 0px 15px #808080;
}

img.rank3{
	background-color:white;
	border: 2px solid gray;
	border-radius: 50%;
	width: 130px;
	left: -50%;
	float: left;
	margin:auto 10px 5px ;
	box-shadow:0px 0px 15px #ffff00;
}


.table1{
	 float: left;
	 margin:auto 10px;
}



/*テーブルの設定*/
table {
	background-color: white;
	color: navy;
	border: 2px solid gray;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

table th {
	background-color: orange;
}
.th1{
	background-color: #eeeeee;
}
.reviews{
	width: 1200px;
}

