<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>コメント</title>
</head>
<body>
	<header>
		<img alt="" src="/css/images/siteLogo.png;" class="logo">
		<span th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>
	<br>
	<h2>レビュー</h2>

	<div class="reviewbox">
		<span th:text="${account.get(__${review.account}__)} +'さん'"></span>
		<span> </span>
		<span th:text="${#temporals.format(review.date, 'yyyy-MM-dd HH:mm')}"></span>
		<p th:text="${review.review}"></p>
	</div>
	<h2>このレビューへのコメント</h2>
	<span th:text="${message}" style="color: red"></span>

	<div th:if="${comments != null}" th:each="comment:${comments}" class="commentbox">
		<span th:text="${account.get(__${comment.accountCode}__)} +'さん'"></span>
		<span th:text="${#temporals.format(comment.date, 'yyyy-MM-dd HH:mm')}"></span>
		<p th:text="${comment.comment}"></p>
	</div>

	<form th:action="'/review/comment/'+ ${reviewCode}" method="post">
		<textarea name="comment" placeholder="コメントをこちらに書いてください"></textarea>
		<input type="submit" value="投稿する" class="btn">
	</form>

</body>
</html>