<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>アカウント情報の編集</title>
</head>
<body>
	<h1>アカウント情報の編集</h1>
	<form action=/editAccount method="POST">
		<table border="1">
		<div class="popup_images">
			<input id="trigger" type="checkbox">
			<div class=”popup_overlay”>
				<label for="trigger" class="popup_trigger"></label>
				<div class="popup_content">
					<label for="trigger" class="close_btn">×</label>
					<div>
						<div class="icon">
							<input id="image_1" type="radio"
								value="css/images/icon_human.png" name="photo">
								<label for="image_1">
								<img src="css/images/icon_woman1.jpg" with="40" height="40">
							</label> <input id="image_2" type="radio"
								value="css/images/icon_man1.png" name="photo">
								<label for="image_2">
								<img src="css/images/icon_man1.jpg" with="40" height="40">
							</label> <input id="image_3" type="radio"
								value="css/images/icon_woman1.png" name="photo">
								<label for="image_3">
								<img src="css/images/icon_woman2.jpg" with="40" height="40">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<label for=”trigger” class=”open_btn”>プロフィール画像を選択</label><br>

			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th>アカウント名</th>
				<td><input type="text" name="accountName" th:value="${accountName}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email" th:value="${email}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" th:value="${password}"></td>
			</tr>
		</table>
		<br> <input type="hidden" name="code" th:value="${code}">
		<input type="submit" value="更新" class=btn>
	</form>

</body>
</html>