<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>アカウント情報の編集</title>
</head>
<body>
	<h1>アカウント情報の編集</h1>
	<form action=/editAccount method="POST">

	<label for="popup" class="open">プロフィール画像を選択</label>
		<input id="popup" type="checkbox">
		<div class="popup_overlay">
			<div class="icon">
			<label for="popup" class="close">×</label>
				<p>好きな画像を選択してください</p>
				<input id="image_1" type="radio" value="css/images/icon_human.png" name="photo" th:checked="${photo=='css/images/icon_human.png'}">
				<label for="image_1">
				<img src="css/images/icon_human.png">
				</label>
			 	<input id="image_2" type="radio" value="css/images/icon_human2.png" name="photo" th:checked="${photo=='css/images/icon_human2.png'}">
				<label for="image_2">
				<img src="css/images/icon_human2.png">
				</label>
				<input id="image_3" type="radio" value="css/images/icon_man1.png" name="photo" th:checked="${photo=='css/images/icon_man1.png'}">
				<label for="image_3">
				<img src="css/images/icon_man1.png">
				</label>
				<input id="image_4" type="radio" value="css/images/icon_man2.png" name="photo" th:checked="${photo=='css/images/icon_man2.png'}">
				<label for="image_4">
				<img src="css/images/icon_man2.png">
				</label>
				<input id="image_5" type="radio" value="css/images/icon_woman1.png" name="photo" th:checked="${photo=='css/images/icon_woman1.png'}">
				<label for="image_5">
				<img src="css/images/icon_woman1.png">
				</label>
				<input id="image_6" type="radio" value="css/images/icon_woman2.png" name="photo" th:checked="${photo=='css/images/icon_woman2.png'}">
				<label for="image_6">
				<img src="css/images/icon_woman2.png">
				</label>
			</div>
		</div>

		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th>アカウント名</th>
				<td><input type="text" name="accountName" th:value="${accountName}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email" th:value="${email}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" th:value="${password}"></td>
			</tr>
		</table>
		<br> <input type="hidden" name="code" th:value="${code}">
		<input type="submit" value="更新" class=btn>
	</form>

</body>
</html>