<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>レビュー</title>
</head>
<body>
	<header>
		<img alt="" src="/css/images/siteLogo.png;" class="logo">
		<span th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>
	<br>

	<span th:replace="menu"></span>

	<hr>
	<h2><span th:text="${title}"></span></h2>

	<form th:action="'/sort/'+${session.category}" method="post">
	<div>並べ替え<select name="sort">
				<option value="genre" th:selected="${sort == genre}">ジャンル順</option>
				<option value="star1" th:selected="${sort == star1}">評価が高い順</option>
				<option value="star2" th:selected="${sort == star2}">評価が低い順</option>
				<option value="latest" th:selected="${sort == latest}">最新の投稿順</option>
				<option value="oldest" th:selected="${sort == oldest}">古い投稿順</option>
		</select></div>
		<input type="submit" value="並び変える">
		</form>

	<span th:text="${message}" style="color: red"></span>

	<table border="1">
		<tr>
			<th>作品形態</th>
			<th>ジャンル</th>
			<th>作品名</th>
			<th>作者/監督</th>
			<th>評価</th>
			<th>感想</th>
			<th>投稿者</th>
			<th>投稿日時</th>
		</tr>
		<tr th:each="review:${reviews}">
			<td th:text="${review.category}"></td>
			<td th:text="${genres.get(__${review.genre}__)}"></td>
			<td th:text="${review.name}"></td>
			<td th:text="${review.director}"></td>
			<td th:if="${review.star eq 1}">★</td>
			<td th:if="${review.star eq 2}">★★</td>
			<td th:if="${review.star eq 3}">★★★</td>
			<td th:if="${review.star eq 4}">★★★★</td>
			<td th:if="${review.star eq 5}">★★★★★</td>

			<td th:if="${review.spoil eq 0}">
			<span th:text="${review.review}"></span>
			<br>
			<a th:href="'/review/comment/'+ ${review.code}">コメント</a></td>

			<td th:if="${review.spoil eq 1}">
				<div class="hidden_box">
					<label th:for="'review'+ ${review.code}">ネタバレの表示/非表示</label>
					<input type="checkbox" th:id="'review'+ ${review.code}">
					<div class="hidden_show">
						<!--非表示ここから-->
						<span th:text="${review.review}"></span>
						<br>
						<a th:href="'/review/comment/'+ ${review.code}">コメント</a>
						<!--ここまで-->
					</div>
				</div>
			</td>
			<td><a th:href="'/account/'+${review.account}"><span th:text="${names.get(__${review.account}__)}"></span></a></td>
			<td th:text="${#temporals.format(review.date, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>

	<hr>

<a href="/top">マイページに戻る</a>


</body>
</html>