<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{css/BaseDesign.css}" rel="stylesheet">
<title>レビュー検索</title>
</head>
<body>
	<header>
		<img alt="" src="css/images/logo.png;">
	</header>
	<br>
	<br>
	<br>
	<br>
	<form action="/search" method="get">
		作品名：<input type="text" name="title" th:value="${keyword}">
		監督名/作者名<input type="text" name="director" th:value="${director}">
		投稿者<input type="text" name="account" placeholder="ユーザーIDを入力して下さい"th:value="${director}">
		ネタバレありを含む<input type="checkbox" name="withspoil" value="1" th:checked="${1} == ${acheck}">
		<input type="submit" value="検索" class="btn">
	</form>
</body>
</html>