<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{css/BaseDesign.css}" rel="stylesheet">
<title>レビュー検索</title>
</head>
<body>
	<header>
		<img alt="" src="css/images/logo.png;">
		 <span th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>
	<br>
	<span th:text="${message}" style="color: red"></span>
	<form action="/search" method="post">
		検索カテゴリー： <select name="category" th:selected="${category}">
		<option value="すべて">すべて</option>
			<option value="映画">映画</option>
			<option value="書籍">書籍</option>
		</select> ジャンル：<select name="genre" th:selected="${genre}">
			<option value="0">すべて</option>
			<option th:each="gen:${session.genre}" th:value="${gen.code}"><span th:text="${gen.name}"></span></option>
		</select><br>
		<br> 作品名：<input type="text" name="name" th:value="${name}"><br>
		監督名/作者名<input type="text" name="director" th:value="${director}"><br>
		投稿者<input type="text" name="account" placeholder="ユーザーIDを入力して下さい" th:value="${account}"><br>
		ネタバレありを含む<input type="checkbox" name="withspoil" value="1" th:checked="${1} == ${acheck}"> <br>
		<input type="submit"value="検索" class="btn">

	</form>

	<table th:if="${reviews ne null}" border="1">
		<tr>
			<th>作品形態</th>
			<th>ジャンル</th>
			<th>作品名</th>
			<th>作者/監督</th>
			<th>感想</th>
			<th>投稿者</th>
			<th>投稿日時</th>
		</tr>
		<tr th:each="review:${reviews}">
			<td th:text="${review.category}"></td>
			<td th:text="${allgenres.get(__${review.genre}__)}"></td>
			<td th:text="${review.name}"></td>
			<td th:text="${review.director}"></td>
			<td th:if="${review.spoil eq 0}">
			<span th:text="${review.review}"></span>
			<br>
			<a th:href="'review/reply/'+ ${review.code}">コメント</a>
			</td>
			<td th:if="${review.spoil eq 1}">
				<div class="hidden_box">
					<label th:for="'review'+ ${review.code}">ネタバレの表示/非表示</label>
					<input type="checkbox" th:id="'review'+ ${review.code}">
					<div class="hidden_show">
						<!--非表示ここから-->
						<span th:text="${review.review}"></span>
						<br>
						<a th:href="'review/reply/'+ ${review.code}">コメント</a>
						<!--ここまで-->
				</div></div></td>
			<td th:text="${names.get(__${review.account}__)}"></td>
			<td th:text="${#temporals.format(review.date, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>

</body>
</html>