<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/signup.css}" rel="stylesheet">
<title>新規登録</title>
</head>
<body>

	<header>
		<img alt="" src="/css/images/siteLogo.png;" class="logo">
	</header>
	<div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
	<br>
	<br>
	<br> 登録する情報の入力をお願いします。
	<form action="/signup" method="post">
		<label for="popup" class="open">プロフィール画像を選択</label>
		<input id="popup" type="checkbox">
		<div class="popup_overlay">
			<div class="icon">
			<label for=	"popup" class="close">×</label>
				<p>好きな画像を選択してください</p>
				<input id="image_1" type="radio" value="css/images/icon_human.png" name="photo" checked>
				<label for="image_1">
				<img src="css/images/icon_human.png">
				</label>
			 	<input id="image_2" type="radio" value="css/images/icon_human2.png" name="photo">
				<label for="image_2">
				<img src="css/images/icon_human2.png">
				</label>
				<input id="image_3" type="radio" value="css/images/icon_man1.png" name="photo">
				<label for="image_3">
				<img src="css/images/icon_man1.png">
				</label>
				<input id="image_4" type="radio" value="css/images/icon_man2.png" name="photo">
				<label for="image_4">
				<img src="css/images/icon_man2.png">
				</label>
				<input id="image_5" type="radio" value="css/images/icon_woman1.png" name="photo">
				<label for="image_5">
				<img src="css/images/icon_woman1.png">
				</label>
				<input id="image_6" type="radio" value="css/images/icon_woman2.png" name="photo">
				<label for="image_6">
				<img src="css/images/icon_woman2.png">
				</label>
			</div>
		</div>
		<input type="text" name="name" placeholder="お名前"><br>
		<input type="text" name="account_name" placeholder="アカウント名"><br>
		<input type="text" name="email" placeholder="メールアドレス"><br>
		<input type="password" name="password" placeholder="パスワード"><br>
		<input type="submit" value="新規登録" class="btn"> <br>
	</form>
</body>
</html>