<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>ログインスタンプ</title>
</head>
<body>
	<header>
		<img alt="" src="/css/images/siteLogo.png;" class="logo">
		<span th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<form action="/stamp"id="form" method="post">
	<a href="javascript:form.submit()">今日のログインスタンプを押す！</a><br><br>
	</form>

	<span th:text="${message}" style="color: red"></span><br><br>

	<span th:text="${session. accountInfo.name}"></span> さんのスタンプは<br>

	<h3><span th:text="${stamp}"></span>個！</h3>

	<p class="stamp" th:each="i:${#numbers.sequence(1,__${stamp}__)}"><img src="css/images/stamp.png"></p>




</body>
</html>