<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>ログインスタンプ</title>
</head>
<body>
	<header>
		<img alt="" src="/css/images/siteLogo.png;" class="logo"> <span
			th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>


	<br>
	<br>
	<form action="/stamp" id="form" method="post" name="form">
		<label for="trigger" onclick="submit()" class="btn">今日のログインスタンプを押す！</label>
		<div class="popup_wrap">
			<input id="trigger" type="checkbox" th:checked="${tf}">
			<div class="popup_overlay">
				<label for="trigger" class="popup_trigger"></label>
				<div class="popup_content">
					<label for="trigger" class="close_btn">×</label>
					<p><span th:text="${stamptxt}"></span><br>
						<span th:text="${stamptxt2}"></span></p>
				</div>
			</div>
		</div>
	</form>

	<span th:text="${message}" style="color: red"></span>
	<br>
	<br>

	<div th:if="${stamp eq 0}">
		<span th:text="${session. accountInfo.name}"></span> さんのスタンプはまだありません
	</div>

	<div th:if="${stamp ne 0}">
		<span th:text="${session. accountInfo.name}"></span> さんのスタンプは<br>

		<h3>
			<span th:text="${stamp}"></span>個！
		</h3>

		<p class="stamp" th:each="i:${#numbers.sequence(1,__${stamp}__)}">
			<img src="css/images/stamp.png">
		</p>
	</div>

	<script th:inline="javascript">
		function submit() {
				document.form.submit();
			}

	</script>

</body>
</html>