<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/BaseDesign.css}" rel="stylesheet">
<title>マイページ</title>
</head>
<body>
	<header>
		<img alt="" src="css/images/logo.png;">
		<span th:replace="header"></span>
	</header>
	<br>
	<br>
	<br>
	<br>
	<h1>マイページ</h1>

	<span th:replace="menu"></span>

	<hr>

	<h2><span th:text="${session. accountInfo.name}"></span> さん、ようこそ！</h2>
	<h2>映画・書籍レビューサイトです！</h2>

	<hr>

	<h3>【<span th:text="${session. accountInfo.name}"></span> さんのアカウント情報】</h3>
	<table border="1">
		<tr>
		<th>名前</th><td th:text="${accountInfo.name}"></td>
		</tr>

		<tr>
		<th>アカウント名</th><td th:text="${accountInfo.accountName}"></td>
		</tr>

		<tr>
		<th>メールアドレス</th><td th:text="${accountInfo.email}"></td>
		</tr>

		<tr>
		<th>パスワード</th><td th:text="${accountInfo.password}"></td>
		</tr>
	</table>

<a href=editAccount>アカウント情報を編集する</a>

	<h3>【<span th:text="${session. accountInfo.name}"></span> さんの過去レビュー】</h3>
	<table border="1">
		<tr>
			<th>作品形態</th>
			<th>ジャンル</th>
			<th>作品名</th>
			<th>作者/監督</th>
			<th>感想</th>
			<th>投稿日時</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="review:${reviews}">
			<td th:text="${review.category}"></td>
			<td th:text="${genres.get(__${review.genre}__)}"></td>
			<td th:text="${review.name}"></td>
			<td th:text="${review.director}"></td>
			<td th:text="${review.review}"></td>
			<td th:text="${#temporals.format(review.date, 'yyyy-MM-dd HH:mm')}"></td>
			<td><form action="/review/update" method="get"><input type="submit" value="更新">
				<input type="hidden" name="code" th:value="${review.code}"></form></td>
			<td><form action="/delete" method="post"><input type="submit" value="削除">
				<input type="hidden" name="code" th:value="${review.code}"></form></td>
		</tr>
	</table>

	<span th:replace="logout"></span>


</body>
</html>